<VirtualHost *:80>
    ServerAdmin
    ServerName {{domain}}
    DocumentRoot {{project_path}}

    <Directory {{project_path}}>
        Options Indexes FollowSymlinks MultiViews
        AllowOverride All
        Order allow,deny
        allow from all
    </Directory>

    ErrorLog {{project_path}}/var/logs/error.log
    LogLevel warn
</VirtualHost>