<?xml version="1.0" ?>
<config>
    <modules>
        <Entrepids_Giftregistry>
            <version>0.1.0</version>
        </Entrepids_Giftregistry>
    </modules>
    <global>
        <models>
            <entrepids_giftregistry>
                <class>Entrepids_Giftregistry_Model</class>
                <resourceModel>entrepids_giftregistry_mysql4</resourceModel>
            </entrepids_giftregistry>
            <entrepids_giftregistry_mysql4>
                <class>Entrepids_Giftregistry_Model_Mysql4</class>
                <entities>
                    <entity>
                        <table>entrepids_giftregistry_entity</table>
                    </entity>
                    <item>
                        <table>entrepids_giftregistry_item</table>
                    </item>
                    <type>
                        <table>entrepids_giftregistry_type</table>
                    </type>
                </entities>
            </entrepids_giftregistry_mysql4>
        </models>
        <block>
            <entrepids_giftregistry>
                <class>Entrepids_Giftregistry_Block</class>
            </entrepids_giftregistry>
        </block>
        <helpers>
            <entrepids_giftregistry>
                <class>Entrepids_Giftregistry_Helper</class>
            </entrepids_giftregistry>
        </helpers>
        <resources>
            <entrepids_giftregistry_setup>
                <setup>
                    <module>
                        Entrepids_Giftregistry
                    </module>
                    <class>Entrepids_Giftregistry_Model_Resource_Setup</class>
                </setup>
                <conection>
                    <use>core_setup</use>
                </conection>
            </entrepids_giftregistry_setup>
            <entrepids_giftregistry_write>
                <conection>
                    <use>core_write</use>
                </conection>
            </entrepids_giftregistry_write>
            <entrepids_giftregistry_read>
                <conection>
                    <use>core_read</use>
                </conection>
            </entrepids_giftregistry_read>
        </resources>
    </global>
</config>
