<?xml version="1.0" ?>
<config>
    <modules>
        <Entrepids_Giftregistry>
            <version>0.1.0</version>
        </Entrepids_Giftregistry>
    </modules>
    <frontend>
        <routers>
            <entrepids_giftregistry>
                <use>standard</use>
                <args>
                    <module>Entrepids_Giftregistry</module>
                    <frontName>giftregistry</frontName>
                </args>
            </entrepids_giftregistry>
        </routers>
    </frontend>
    <global>
        <models>
            <entrepids_giftregistry>
                <class>Entrepids_Giftregistry_Model</class>
                <resourceModel>entrepids_giftregistry_resource</resourceModel>
            </entrepids_giftregistry>
            <entrepids_giftregistry_resource>
                <class>Entrepids_Giftregistry_Model_Resource</class>
                <entities>
                    <entity>
                        <table>entrepids_giftregistry_entity</table>
                    </entity>
                    <item>
                        <table>entrepids_giftregistry_item</table>
                    </item>
                    <type>
                        <table>entrepids_giftregistry_type</table>
                    </type>
                </entities>
            </entrepids_giftregistry_resource>
        </models>
        <block>
            <entrepids_giftregistry>
                <class>Entrepids_Giftregistry_Block</class>
            </entrepids_giftregistry>
        </block>
        <helpers>
            <entrepids_giftregistry>
                <class>Entrepids_Giftregistry_Helper</class>
            </entrepids_giftregistry>
        </helpers>
        <resources>
            <entrepids_giftregistry_setup>
                <setup>
                    <module>Entrepids_Giftregistry</module>
                    <class>Entrepids_Giftregistry_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </entrepids_giftregistry_setup>
            <entrepids_giftregistry_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </entrepids_giftregistry_write>
            <entrepids_giftregistry_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </entrepids_giftregistry_read>
        </resources>
    </global>
</config>
